
<div class="container">
    <section id="heading">
        <div class="full-width">
            <div class="small-padding">
                <h2>Candy Framework</h2>
                <p>This site uses the candy framework built by @puzzalea (aka Cara Heacock).  Find documentation <a href="https://github.com/puzzalea/candy"> here</a>.  Find demos <a href="https://puzzalea.github.io/candy/">here.</a></p>
            </div>
        </div>
    </section>

        <section id="accordions">
            <div class="container">
                <div class="full-width">
                    <div class="small-padding">
                        <h2 class="pink-underline small-bottom-padding">Accordions</h2>
                        
                        <div class="accordion round-corners light-pink-background">
                            <div class="accordion-headline">
                                <h4>Accordion 1</h4>
                            </div>
                            <div class="accordion-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                        
                        <div class="accordion round-corners light-green-background">
                            <div class="accordion-headline">
                                <h4>Accordion 2</h4>
                            </div>
                            <div class="accordion-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                        
                        <div class="accordion round-corners light-blue-background">
                            <div class="accordion-headline">
                                <h4>Accordion 3</h4>
                            </div>
                            <div class="accordion-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>


         <section id="forms">
                    <div class="container">
                        <div class="full-width">
                            <div class="small-padding">
                                <h2 class="blue-underline small-bottom-padding">Forms</h2>
                            </div>
                        </div>
                        <div class="third">
                            <div class="small-padding">
                                <h3>Fill Out This Form</h3>
                                <form>
                                    <label>Name *</label>
                                    <input type="text" placeholder="Emily Doe">
                                    
                                    <label>Email *</label>
                                    <input type="email" placeholder="emily@example.com">
                                    
                                    <label>Age *</label>
                                    <input type="number" placeholder="13">
                                    
                                    <label>Grade *</label>
                                    <select>
                                        <option>--</option>
                                        <option>K</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>
                                    
                                    <label>Do you like cats? *</label><br>
                                    <label><input name="do_you_like_cats" type="radio"> Yes</label><br>
                                    <label><input name="do_you_like_cats" type="radio"> No</label><br>
                                    
                                    <label><input type="checkbox" class="top-margin"> Check if you like dogs more than cats.</label><br>
                                    
                                    <label>Comment</label>
                                    <textarea></textarea>
                                    
                                    <input type="submit" value="Submit">
                                </form>
                            </div>
                        </div>
        <section>



        <section id="tables">
            <div class="container">
                <div class="full-width">
                    <div class="small-padding">
                        <h2 class="purple-underline small-bottom-padding">Tables</h2>
                    </divs>
                </div>
                <div class="half">
                    <div class="small-padding">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Age</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Katie</td>
                                    <td>katie@example.com</td>
                                    <td>14</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Hannah</td>
                                    <td>hannah_panda@example.com</td>
                                    <td>17</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Joseph</td>
                                    <td>coolguy@example.com</td>
                                    <td>13</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Arin</td>
                                    <td>whatever@example.com</td>
                                    <td>16</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Danny</td>
                                    <td>dannyyyyyy@example.com</td>
                                    <td>18</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

         <section id="buttons-links">
            <div class="container small-padding">
                <div class="full-width">
                    <h2 class="green-underline small-bottom-padding">Buttons and Links</h2>
                    
                    <p><a href="#">This is a regular link</a></p>
                    
                    <p>
                        <a class="button" href="#">Default Button</a>
                        <a class="pink-button" href="#">Pink Button</a>
                        <a class="green-button" href="#">Green Button</a>
                        <a class="purple-button" href="#">Purple Button</a>
                    </p>
                </div>
            </div>
        </section>
</div>