
        <section id="grid">
            <div class="container large-bottom-margin">
                <div class="full-width">
                    <div class="small-padding">
                        <h2 class="small-bottom-padding">Name of My Project</h2>
                        <h3 class="small-bottom-padding">This page uses <a href="http://www.bobrosslipsum.com/" target="_blank">Bob Ross Lorem Ipsum</a></h3>
                        <h4 class="underline small-bottom-padding">Made By You!</h4>

                    </div>
                </div>

                <!-- Answer this Question: What is Your Project-->


                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="blue-text">What is my project and what makes it awesome?</h3>
                        <h5 class="blue-text">Answer this one for sure!</h5>                    </div>
                </div>
                <div class="full-width">
                    <div class="small-margin small-padding round-corners light-blue-background">

                        <p>Isn't that fantastic? You can just push a little tree out of your brush like that. Just use the old one inch brush. This present moment is perfect simply due to the fact you're experiencing it. This is gonna be a happy little seascape. Trees grow however makes them happy.</p>

                        <p>It just happens - whether or not you worried about it or tried to plan it. You gotta think like a tree. I'm sort of a softy, I couldn't shoot Bambi except with a camera. If you overwork it you become a cloud killer. There's nothing worse than a cloud killer. You can get away with a lot.</p>

                        <p>You can do anything here - the only pre-requisite is that it makes you happy. Let's build some happy little clouds up here. If you hypnotize it, it will go away. Fluff that up. With practice comes confidence.</p>

                        <p>From all of us here, I want to wish you happy painting and God bless, my friends. You can create beautiful things - but you have to see them in your mind first. If you didn't have baby clouds, you wouldn't have big clouds.</p>
                    </div>
                </div>

                <div class="full-width blue-underline small-top-padding"></div>

                <!-- Optional 1: How Your Idea Came to Be Question-->
                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="purple-text">How did you come up with your idea?</h3>
                        <h5 class="purple-text">Pick one more...maybe this one?</h5>
                    </div>
                </div>

                <div class="full-width">
                    <div class="small-margin small-padding round-corners light-purple-background">

                        <p>You have to make those little noises or it won't work. Anyone can paint. Let's put some happy little bushes on the other side now. Just think about these things in your mind and drop em' on canvas.</p>

                        <p>We'll throw some old gray clouds in here just sneaking around and having fun. Let's have a happy little tree in here. There it is. This is your creation - and it's just as unique and special as you are. I'm going to mix up a little color. We’ll use Van Dyke Brown, Permanent Red, and a little bit of Prussian Blue. It's hard to see things when you're too close. Take a step back and look.</p>


                    </div>
                </div>

                <div class="full-width purple-underline small-top-padding"></div>




                <!-- Optional 2: Table Structure Question-->

                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="pink-text">What is your table structure?</h3>
                        <h5 class="pink-text">Pick one more...maybe this one?</h5>
                    </div>
                </div>
                <div class="half">
                    <div class="small-margin small-padding round-corners light-pink-background">
                        <p>Paint anything you want on the canvas. Create your own world. There's not a thing in the world wrong with washing your brush. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. Use what you see, don't plan it. Now we'll take the almighty fan brush. And I know you're saying, 'Oh Bob, you've done it this time.' And you may be right.</p>

                        <p>This is your world, whatever makes you happy you can put in it. Go crazy. In your world you have total and absolute power. Life is too short to be alone, too precious. Share it with a friend. Work on one thing at a time. Don't get carried away - we have plenty of time. Van Dyke Brown is a very nice brown, it's almost like a chocolate brown. These trees are so much fun. I get started on them and I have a hard time stopping.</p>
                    </div>
                </div>
                <div class="half">
                    <div class="small-margin small-padding round-corners light-pink-background">
                        <img src="#" style="height: 400px;" />
                        <h5 class="pink-text">Maybe take a picture and add it here?  This could be a caption.  Add the picture to the assets folder and change the source on the image tag from '#' to the path and name of the image. </h5>
                    </div>
                </div>

                <div class="full-width pink-underline small-top-padding"></div>




                <!-- Optional 3: Talk About Your Hardest Code And How You Did It -->

                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="green-text">What is the hardest piece of code or what was a problem you had to solve?</h3>
                        <h5 class="green-text">Pick one more...maybe this one?</h5>
                    </div>
                </div>
                <div class="half">
                    <div class="small-margin small-padding round-corners light-green-background">
                        <h5 class="green-text">Provide a code sample</h5>

                        <pre>
                            <code>
  def some_hard_code
      looks_awesome = Awesome.new

      if looks_awesome.works?
          looks_awesome.celebrate!
      else
          try really_hard
          try again
      end

  end
                            </code>
                        </pre>

                    </div>
                </div>
                <div class="half">
                    <div class="small-margin small-padding round-corners light-green-background">
                        <h3 class="green-text">Why Awesome was so hard</h3>


                        <p>I'm gonna start with a little Alizarin crimson and a touch of Prussian blue Volunteering your time; it pays you and your whole community fantastic dividends. Trees get lonely too, so we'll give him a little friend. This is a happy place, little squirrels live here and play. Everyone is going to see things differently - and that's the way it should be. Maybe there's a happy little bush that lives right there.</p>

                        <p>Don't hurry. Take your time and enjoy. Just let go - and fall like a little waterfall. Let's build some happy little clouds up here.</p>


                    </div>
                </div>
                <div class="full-width green-underline small-top-padding"></div>



                <!-- Optional 4: What Will You Do For Your Project Next? -->

                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="blue-text">What is the next step?</h3>
                        <h5 class="blue-text">Pick one more...maybe this one?</h5>
                    </div>
                </div>
                <div class="fulll-width">
                    <div class="small-margin small-padding round-corners light-blue-background">

                      <p>This is truly an almighty mountain. Those great big fluffy clouds. Let's do that again. Be so very light. Be a gentle whisper. You got your heavy coat out yet? It's getting colder.</p>

                      <p>In painting, you have unlimited power. You have the ability to move mountains. You can bend rivers. But when I get home, the only thing I have power over is the garbage. There isn't a rule. You just practice and find out which way works best for you. You gotta think like a tree. Look around, look at what we have. Beauty is everywhere, you only have to look to see it. We have no limits to our world. We're only limited by our imagination. This is probably the greatest thing that's ever happened in my life.</p>

                      <p>Almost everything is going to happen for you automatically - you don't have to spend any time working or worrying. Just make a decision and let it go. I guess I'm a little weird. I like to talk to trees and animals. That's okay though; I have more fun than most people.</p>

                    </div>
                </div>

                <div class="full-width blue-underline small-top-padding"></div>


  <!-- This is the end of the div and section - don't delete! -->


                <div class="full-width">
                    <div class="small-padding">
                        <h2 class="small-bottom-padding">This Project was made for SheQL</h2>
                        <p class="small-bottom-padding">SheQL is a free, 10 week course offered to high school girls, femmes, and non-males in the Summer of 2017 by <a href="http://omahagirlswhocode.com/" target="_blank">Mystery Code Society</a> and supported with materials and space by the <a href="https://omahalibrary.org/location/
                        milton-r-abrahams-branch-blog/" target="_blank">Abrahams Branch library</a>.</p>
                        <p>This project was built using Ruby, Postgres, ActiveRecord, and Sinatra.</p>
                        <p>If you think these sites are beautiful, that is thanks to a custom front-end framework by Cara Heacock (puzzalea on github). We are so lucky to have her!</p>

                        <img src="/assets/sheql.png"  />
                    </div>
                </div>

            </div>
        </section>

